<div id="banniere">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 entre">
        <div class="titre-banniere">
          <h2><%= current_page.data.title.upcase%></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="prendre-rdv">
          <div class="en-ligne">
            <h5>Prendre rdv dans notre cabinet:</h5>
            <p>
              06 32 23 20 63 - 06 63 16 37 45
              <a href="https://www.doctolib.fr/masseur-kinesitherapeute/paris/thomas-lagrange-paris">
                <img src="/images/doctolib-logo.png" height="45px" alt="Doctolib logo">
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
