<div class="footer">
  <div class="container">
    <div class="row footer-row">
      <div class="col-xs-12 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <i class="fas fa-map-marker-alt"></i>
            <h5>ADRESSE</h5>
          </div>
          <div class="footer-detail">
            <p>3 Rue Moran,</p>
            <p>75011 Paris<p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <i class="far fa-clock"></i>
            <h5>HORAIRES</h5>
          </div>
          <div class="footer-detail">
            <p>Du lundi au vendredi</p>
            <p>9h à 22h</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <i class="fas fa-phone"></i>
            <h5>CONTACT</h5>
          </div>
          <div class="footer-detail">
            <p>01 77 11 70 97</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
