<div id="footer">
  <div class="container">
    <div class="row footer-row">
      <div class="col-xs-12 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <i class="fas fa-map-marker-alt"></i>
            <h5>ADRESSE</h5>
          </div>
          <div class="footer-detail">
            <p>3 Rue Morand,</p>
            <p>75011 Paris<p>
            <br>
            <p>Proche métros Couronnes, Parmentier, Belleville</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <i class="far fa-clock"></i>
            <h5>HORAIRES</h5>
          </div>
          <div class="footer-detail">
            <p>Du lundi au vendredi</p>
            <p>9h à 20h</p>
            <br>
            <p>Uniquement sur RDV</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <i class="fas fa-phone"></i>
            <h5>PRENDRE RDV</h5>
          </div>
          <div class="footer-detail">
            <p><a href="tel:0632232063">06 32 23 20 63</a></p>
            <p><a href="tel:0663163745">06 63 16 37 45</a></p>
            <br>
            <% link_to 'https://www.doctolib.fr/masseur-kinesitherapeute/paris/thomas-lagrange-paris' do %>
              <%= image_tag 'doctolib-logo.png', height:'45px' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
