#banniere {
  background-color: white;
  color: white;
  font-weight: lighter;
}

.titre-banniere {
  background-color: $light-blue;
  display: flex;
  text-align: center;
  justify-content: center;
}

.titre-banniere h2 {
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 0.5em;
  margin: 33px;
}

.prendre-rdv h5 {
  color: $dark-blue;
  letter-spacing: 0.1em;
}

.prendre-rdv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.prendre-rdv p {
  color: $light-blue;
  font-size: 22px;
  margin: 0px;
}

.when-scroll {
  padding-top: 90px;
}
