.img-petite {
  height: 200px;
  width: 200px;
}

.kine-pres {
  padding-bottom: 30px;
}

.kine-photo {
  text-align: center;
}

.equipe-pres {
  padding: 60px;
}

.kine-nom {
  text-align: center;
}

.kine-parcours {
  text-align: center;
}

.kine-nom h3 {
  font-size: 17px;
  color: rgba(23, 42, 69, 1);
  margin-bottom: 5px;
}

.kine-nom h4 {
  font-size: 15px;
  color: #71A0BF;
  margin-top: 0px;
}

.kine-parcours li {
  font-size: 14px;
}
