#pratique {
  padding: 40px 60px;
}

.map {
  height: calc(100vh - 130px);
  width: 100%;
}

.details {
  height: calc(100vh - 130px);
  width: 100%;
}

.acces {
  height: 48%;
  width: 100%;
  background-color: white;
  border-radius: 7px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.acces .col-xs-12 {
  padding: 0px;
}

.pratique-texte {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
