.tarif-card {
  background-color: white;
}

#tarifs {
  padding: 40px 60px;
}

.tarif-titre {
  background-color: rgba(23, 42, 69, 1);
  color: white;
  text-align: center;
  height: 50px;
}

.tarif-titre h2 {
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 0.3em;
}

.tarif-detail {
  text-align: center;
  justify-content: center;
  height: 150px;
}
