.tarif-card {
  background-color: white;
  border-radius: 7px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#tarifs {
  padding: 40px 60px;
}

.tarif-titre {
  background-color: $dark-blue;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 50px;
  border-radius: 7px 7px 0px 0px;
}

.tarif-titre h2 {
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 0.3em;
  margin: auto 0px;
}

.tarif-prix {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 150px;
}

.tarif-prix h3 {
  font-size: 66px;
  font-weight: 300;
  margin: auto 0px;
}


.tarif-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 150px;
}

.tarif-prix h3 {
  font-size: 66px;
  font-weight: 300;
  margin: auto 0px;
}
