---
title: Tarifs
---

<div class="container-page">
  <div id="tarifs">
    <div class="row tarif-row">
      <div class="col-xs-12 col-sm-4">
        <div class="tarif-card">
          <div class="tarif-titre">
            <h2>Kinesithérapie</h2>
          </div>
          <div class="tarif-prix">
            <h3>30€</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="tarif-card">
          <div class="tarif-titre">
            <h2>Remboursement</h2>
          </div>
          <div class="tarif-detail">
            <p>Conventionné</p>
            <p>Carte Vitale Acceptée</p>
            <p>Tiers-Payant</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row tarif-row">
      <div class="col-xs-12 col-sm-4">
        <div class="tarif-card">
          <div class="tarif-titre">
            <h2>Ostéopathie</h2>
          </div>
          <div class="tarif-prix">
            <h3>70€</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="tarif-card">
          <div class="tarif-titre">
            <h2>Moyens de Paiement</h2>
          </div>
          <div class="tarif-detail">
            <p>Chèques et Espèces</p>
            <p>Cartes bancaires non acceptées</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
